@model IEnumerable<hw1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="well">
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "姓名" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">查詢</button>
                    </div>
                </div>
            </div>
        </p>
    }

    @using (Html.BeginForm("Export", "客戶聯絡人", FormMethod.Post))
    {
        <div class="form-row">
            <button class="btn btn-success" id="Export" name="Export">匯出資料</button>
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { sortOrder = "職稱", currentOrder = ViewBag.currentOrder })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { sortOrder = "姓名", currentOrder = ViewBag.currentOrder })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email", currentOrder = ViewBag.currentOrder })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sortOrder = "手機", currentOrder = ViewBag.currentOrder })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = "電話", currentOrder = ViewBag.currentOrder })
        </th>
        <th>
            @Html.ActionLink("客戶資料.客戶名稱", "Index", new { sortOrder = "客戶資料.客戶名稱", currentOrder = ViewBag.currentOrder })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
